{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml", "*.json"],
      "options": {
        "tabWidth": 4,
        "printWidth": 88
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "tabWidth": 4
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "tabWidth": 4
        // Il y a actuellement un bug qui provoque un décalage de l'alignement du texte après les points
        // d'énumération dans le markdown
        // https://github.com/prettier/prettier/issues/5019
      }
    }
  ]
}
